<h2>
    <span class="col-md-9 header">Панель администрирования</span>
    <span class="col-md-3 header text-center">
        <a href="/admin/new" class="btn btn-success">Добавить запись</a>
        <a href="/" class="btn btn-default">Главная</a>
    </span>
</h2>

<div id="grid"></div>