<h2>
    <span class="col-sm-9 header-main">Главная страница
        <input type="search" id="searchInput" class="text-right input-sm">
        <span class="btn-sm glyphicon glyphicon-search" aria-hidden="true"></span>
    </span>
    <span class="col-sm-3 header-main text-center">
        <a href="/admin" class="btn btn-success">Панель администрирования</a>
        <a href="/statistics" class="btn btn-success">Статистика</a>
    </span>
</h2>
<div id="listView" class="col-sm-9">
    <div data-bind="source: cars" data-template="car-template" data-role="listview"></div>
</div>
<script id="car-template" type="text/x-kendo-template">
    <a href="/car/#: id #">
        <div class="list-div" data-bind="click: showCar">
            <label data-bind="text: brand"></label>
            <label data-bind="text: model"></label>
            <p><img width='100%' src='#: photo #'></p>
            <label data-bind="text: price" data-format="C"></label> <br>
            <label>
                #: kendo.toString(get("transmission")+", ") #
                #: kendo.toString(get("mileage")+" км, ") #
                #: kendo.toString(get("gasoline")) #
            </label>
    </div>
    </a>
</script>
<div class="filterBlock col-sm-3"></div>
