<h2>
    <span class="col-sm-9 header-main">Главная страница
        <input type="search" id="searchInput" class="text-right input-sm">
        <span class="btn-sm glyphicon glyphicon-search" aria-hidden="true"></span>
    </span>
    <span class="col-sm-3 header-main text-center">
        <a href="/admin" class="btn btn-success">Панель администрирования</a>
    </span>
</h2>
<div id="listView" class="col-sm-9"></div>
<div class="filterBlock col-sm-3"></div>
