<h2>
    <span class="col-sm-9 header-main">Статистика</span>
    <span class="col-sm-3 header-main text-center">
        <a href="/" class="btn btn-success">На главную</a>
    </span>
</h2>
<div id="chart1"></div>
<div id="chart2"></div>
<div id="chart3"></div>