<form class="editCar panel panel-primary">
    <div class="panel-heading">
        <button type="button" id="cancel" class="btn btn-primary btn" aria-label="Left Align">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Вернуться к списку объявлений
        </button>
    </div>

    <div class="panel-body input-group">
        <label for="carBrand" class="input-group-addon" id="basic-addon1">Марка: </label>
        <input id="carBrand" name="carBrand" class="form-control" aria-describedby="basic-addon1">
    </div>
    <div class="panel-body input-group">
        <label for="carModel" class="input-group-addon" id="basic-addon2">Модель: </label>
        <input id="carModel" name="carModel" class="form-control" aria-describedby="basic-addon2">
    </div>
    <div class="panel-body input-group">
        <label for="year" class="input-group-addon" id="basic-addon2">Год выпуска: </label>
        <input id="year" name="year" class="form-control" aria-describedby="basic-addon2">
    </div>
    <div class="panel-body input-group">
        <label for="mileage" class="input-group-addon" id="basic-addon3">Пробег: </label>
        <input id="mileage" name="mileage" type="number" aria-describedby="basic-addon3">
    </div>
    <div id="gasoline" class="panel-body input-group radio">
        <label class="radio-inline"><input type="radio" name="gas" id="petrol" value="Бензин"> Бензин </label>
        <label class="radio-inline"><input type="radio" name="gas" id="diesel" value="Дизель"> Дизель </label>
    </div>
    <div class="panel-body input-group">
        <label for="capacity" class="input-group-addon">Объем двигателя: </label>
        <input id="capacity" name="capacity">
    </div>
    <div id="transmission" class="panel-body input-group radio">
        <label class="radio-inline" for="manual"> <input type="radio" name="transmission" id="manual" value="Механика"> Механика </label>
        <label class="radio-inline" for="automatic"> <input type="radio" name="transmission" id="automatic" value="Автомат"> Автомат </label>
    </div>
    <div class="panel-body input-group">
        <label for="price" class="input-group-addon">Цена: </label>
        <input id="price" name="price" type="number">
        <label> BYN</label>
    </div>
    <div class="panel-body input-group">
        <label for="about"  class="input-group-addon">Описание: </label>
        <textarea id="about" class="form-control"></textarea>
    </div>
    <div class="panel-body input-group">
        <input id="photo" type="file">
        <img id="img" height="150" class="thumbnail">
    </div>
    <div class="panel-footer">
        <button type="submit" id="saveCar" class="btn btn-success">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Сохранить
        </button>
        <button type="reset" class="btn btn-warning">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Очистить
        </button>
    </div>
</form>
